{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
{% if particle.git_repo_tree_url is empty %}
  <div class="view_edit_page_in_git {{ particle.css.class }}">
    {% set admin_panel_appearance_url = grav.base_url ~ '/admin/gantry/menu/' %}
    <a href="{{ admin_panel_appearance_url }}" title="Configure View/Edit Page in Git Particle">
      Configure 'View/Edit Page in Git'</a>
  </div>
{% else %}
  {% if not grav.page.header.hide_git_repo_link %}
    {% if grav.page.header.git_repo_link_url %}
      {% set git_repo_link_url = grav.page.header.git_repo_link_url %}
    {% else %}
      {% set git_repo_link_url = particle.git_repo_tree_url ~ ('/'~grav.page.filePathClean)|replace({'/user/':''}) %}
    {% endif %}
    <div class="view_edit_page_in_git {{ particle.css.class }}">
      <a href="{{ git_repo_link_url }}" title="{{ particle.git_repo_link_text }}" target="_blank">
        {% if particle.git_repo_link_icon %}
          <i class="fa fa-{{ particle.git_repo_link_icon }}" aria-hidden="true"></i>
        {% endif %}
        {{ particle.git_repo_link_text }}</a>
    </div>
  {% endif %}
{% endif %}
{% endblock %}
